:root{
--button-color:#8e32c6;
--backround-main-color:#012D63;
--header-link-color:#C7C7C7;
--text-color:#FFFFFF;
--font-family: "Roboto", sans-serif;
 --second-family: "Playfair Display", sans-serif;
--third-family: "PT Serif", sans-serif;
--footer-background:#021635;
}
/* header */
header{
    background-color:var(--backround-main-color);
    padding-bottom: 14px;
    padding-top: 16px;
}
.header-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.header-logo{
    width: 100px;
    height: 60px;
    margin-right: 152px;
}
.navigation{
    display: flex;

}
.navigation-item:nth-child(6){
  margin-left: 20px;
  margin-right: 73px;
}
.navigation-link{
    color: var(--header-link-color);
     font-weight: 300;
     font-size: 24px;
}
.navigation-item{
    margin-left:29px ;
}
.language-navigation{
    display: flex;
}
.language-item:nth-child(1){
    padding-right:11px ;
}
.language-link{
    color: var(--header-link-color);
    font-weight: 300;
    font-size: 24px;
}
/* header */
/*hero*/
.hero{
    background-image: url(./../img/herobackground.jpg);
    padding-bottom: 183px;
    padding-top: 94px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-logo{
    width: 160px;
    margin-bottom: -30px;
}
.name-tag{
    font-weight: 400;
    font-size: 48px;
    color: var(--text-color);
    font-family:var(--third-family) ;   
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}
.title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 144px;
    color: var(--text-color);
}
.subtitle{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 72px;
    color: var(--text-color);
}
.description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
    margin-top: 12px;
    margin-bottom: 41px;
}
.hero-button{
    border:none;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background-color:var(--button-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}
/*hero*/
/*benefits*/
.benefits{
    background-image:url(./../img/benefitsbackground.jpg);
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 124px;
    background-size: cover;
    border-bottom: 2px solid var(--text-color);
}
.benefits-list{
    display: flex;
    justify-content: space-evenly;
    border:5px solid var(--button-color) ;
    padding-top: 25px;
    padding-bottom: 25px;
}
.benefits-card{
    width: 240px;
    height: 346px;
}
.benefits-card:nth-child(2){
    border-left:1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding-left: 95px;
    padding-right: 95px;
}
.benefits-image{
    width: 240px;
    height: 240px;
}
.benefits-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color:var(--text-color);
    padding-bottom:4px ;
}
.benefits-title:nth-child(2){
    padding-top: 4px;
}
/*benefits*/
/*reviews*/
.reviews{
    background-image: url(./../img/reviewbackground.jpg);
}
.reviews-title{
    font-family: var(--second-family);
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        color:var(--text-color);
    padding-top: 25px;
    padding-bottom: 24px;
}
.reviews-list{
    display: flex;
    padding-bottom: 114px;
    justify-content: center;
}
.reviews-card{
    border-radius: 15px;
    background-image: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
    width: 255px;
    padding: 49px 14px 29px 13px;
}
.reviews-card:nth-child(2){
    background-image: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    margin-left: 93px;
    margin-right:93px ;
}
.reviews-card:nth-child(3){
    background-image: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}
.reviews-coment{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color:var(--text-color);
}
.reviews-date{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color:var(--header-link-color);
    margin-top: 8px;
}
.user-information{
    display: flex;
    margin-top: 47px;
}
.user-image{
    height: 31px;
    width: 31px;
    margin-right: 5px;
}
.user-name{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--text-color);
}
.user-date{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color:var(--header-link-color);
}
/*reviews*/
/*order*/
.order{
    background-image: url(./../img/orderbackground.jpg);
    padding-top: 21px;
    padding-bottom: 37px;

}
.order-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 33px;
}
.input-field:nth-child(1){
    border-radius: 50px;
    width: 690px;
    height: 60px;
    border: none;
}
.input-field{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: var(--header-link-color);
    border-radius: 50px;
    width: 580px;
    height: 50px;
    background:var(--text-color);
    margin-bottom: 19px;
    border:none;
}
.order-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.order-button{
    border:var(--button-color);
    border-radius: 16px;
    width: 248px;
    height: 68px;
    background-color: var(--button-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color:var(--text-color);
}
.order-button-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color:var(--text-color);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*order*/
/*foter*/
footer{
    background-color: var(--footer-background);
    
}
.footer-logo{
    width: 108px;
    height: 81px;
}
.footer-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}
.footer-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}
.footer-questions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-adress{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}
.logo-tag{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}
.footer-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-first-part{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-link-color) ;
}